<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Decent Signup form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href={{ url_for('static', filename ="css/style.css")}} type="text/css" media="all" />
</head>

<body>
	<!-- signup form -->
	<section class="w3l-signup-form">
		<div id="form-section">
			<div class="wrapper">

				<!-- logo -->
				<div class="logo">
					<a class="brand-logo" href={{ url_for('static', filename ="index.html")}}>Registration</a>
				</div>
				<!-- //logo -->

				<!-- form -->
				<div class="login-form">
					<form action="/submitregister" method="post" >
						<div class="form-fields d-grid">
							<input type="text" name="fname" placeholder="Full Name" pattern="[a-zA-Z\s]+" title="Please enter a valid name (only letters and spaces)" required="required" />
							<input type="email" name="email" placeholder="Email" required="required" />
							<input type="text" name="rollno" placeholder="Roll number" required="required" />
							<input type="text" name="dob" placeholder="Date of Birth" required="required" pattern="\d{2}-\d{2}-\d{4}" title="Please enter a valid date (DD-MM-YYY)" />
							<input type="text" name="course" placeholder="Course" required="required" />
							<input type="text" name="semester" placeholder="Semester" required="required" pattern="[0-6]+" title="Enter values only upto 6"/>
							<input type="text" name="gender" placeholder="Gender" required="required" pattern="^(male|female|Female|Male|MALE|FEMALE)$" title="Please enter 'male' or 'female' " />	
							<input type="text" name="phone" placeholder="Phone Number" required="required" pattern="[0-9]{10}" title="Please enter a 10-digit phone number" />
							<input type="password" name="password" placeholder="Password" required="required" />
							<input type="password" name="cpass" placeholder="Confirm Password" required="required" />


						</div>
						<button type="submit">Signup</button>
					</form>
				</div>
				<div class="new-signup">
					<p class="signup">Already have an account? <a href="/login" class="signuplink">Login Now</a></p>
				</div>
				<!-- //form -->

				<!-- copyright -->
				<div class="copy-right">
					<p>&copy; 2020 Decent Signup Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
				</div>
				<!-- //copyright -->

			</div>
		</div>
	</section>
	<!-- /signup form -->
</body>

</html>